![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [39]:
# We've loaded your first package for you! You can add as many cells as you need.
import numpy as np
import pandas as pd

# Begin coding here ...

### Loading Data
airbnb_price = pd.read_csv("data/airbnb_price.csv")
print(airbnb_price.head())
airbnb_room = pd.read_excel("data/airbnb_room_type.xlsx")
print(airbnb_room.head())
airbnb_last_review = pd.read_csv("data/airbnb_last_review.tsv",sep="\t")
print(airbnb_last_review.head())

### Merging three dataframes
merged_df = pd.merge(airbnb_price,airbnb_room, on = "listing_id", how = "outer") ## Merging first two df
merged_df = pd.merge(merged_df, airbnb_last_review, on = "listing_id", how = "outer") ### Merging df 1,2 with df3
display(merged_df.head())

### Converting last_review column data type to datetime object
merged_df["last_review"] = pd.to_datetime(merged_df["last_review"])
earliest = merged_df["last_review"].min()
recent = merged_df["last_review"].max()
print("Earliest Date:", earliest)
print("Most Recent Date:", recent)

### Checking summary of "room_type" column
print(merged_df["room_type"].value_counts())
### Converting strings to one format
merged_df["room_type"] = merged_df["room_type"].str.lower()
print(merged_df["room_type"].value_counts())
### Defining rows with "private room" values
private_room_count = merged_df["room_type"].value_counts()["private room"]
print("Frequency of 'private room':", private_room_count)

### Extract numerical values and convert them to integers
merged_df['price'] = merged_df['price'].str.extract('(\d+)').astype(int)
display(merged_df.head())
### Calculating mean price 
average_price = merged_df["price"].mean()
average_price = round(average_price,2)
print("Average price is: ", average_price)

### Creating new dataframe
columns = {
    "first_reviewed": [earliest],
    "last_reviewed": [recent],
    "nb_private_rooms": [private_room_count],
    "avg_price": [average_price]
}

review_dates = pd.DataFrame(columns)
display(review_dates)

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown
   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt
   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

   listing_id        price  ...    host_name   last_review
0        2595  225 dollars  ...     Jennifer   May 21 2019
1        3831   89 dollars  ...  LisaRoxanne  July 05 2019
2        5099  200 dollars  ...        Chris  June 22 2019
3        5178   79 dollars  ...     Shunichi  June 24 2019
4        5238  150 dollars  ...          Ben  June 09 2019

[5 rows x 7 columns]

Earliest Date: 2019-01-01 00:00:00
Most Recent Date: 2019-07-09 00:00:00
Entire home/apt    8458
Private room       7241
entire home/apt    2665
private room       2248
ENTIRE HOME/APT    2143
PRIVATE ROOM       1867
Shared room         380
shared room         110
SHARED ROOM          97
Name: room_type, dtype: int64
entire home/apt    13266
private room       11356
shared room          587
Name: room_type, dtype: int64
Frequency of 'private room': 11356

   listing_id  price  ...    host_name last_review
0        2595    225  ...     Jennifer  2019-05-21
1        3831     89  ...  LisaRoxanne  2019-07-05
2        5099    200  ...        Chris  2019-06-22
3        5178     79  ...     Shunichi  2019-06-24
4        5238    150  ...          Ben  2019-06-09

[5 rows x 7 columns]

Average price is:  141.78

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78